/* CLASS UTILITY */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.container {
    margin: 0 auto;
}

h1{
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
}

img{
    width: 100%;
}


.box{
    height: 100vh;
    position: relative;
}

.content-img{
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* END CLASS UTILITY */


nav ul {
    list-style: none;
    margin-top: 40px;
    margin-left: 80%;
    font-size: 10px;
    position: fixed; 
    
}

nav ul li {
    display: inline-block;
    font-weight: bolder;
    padding: 10px;
}

nav ul li a {
    color: black;
    background-color: white;
    border-radius: 50px;
    text-decoration: none; 
    padding: 10px;
}


.box1{
    background-color: red;
    color: yellow;
}

.box2{
    background-color: green;
    color: yellow;
}

.box3{
    background-color: yellow;
    color: green;
}